<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180380880828-924u1rkmt2mr6ms3m6bc8s1g3ajfs8vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180380880828-924u1rkmt2mr6ms3m6bc8s1g3ajfs8vh</string>
	<key>API_KEY</key>
	<string>AIzaSyDgk245PN-xRTjd2ViM8KQX-tCIMWVAMek</string>
	<key>GCM_SENDER_ID</key>
	<string>180380880828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itec20222</string>
	<key>PROJECT_ID</key>
	<string>itec-b5aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>itec-b5aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180380880828:ios:481b9e7e2141b18cbfe5b9</string>
</dict>
</plist>